In [1]:
"""
Ene ste ejemplo buscamos los missing values de las columnas. viendo cuando valores faltan por columna,
y si conviene eliinar la columna entera o eliminar el registro faltante.
"""

'\nEne ste ejemplo buscamos los missing values de las columnas. viendo cuando valores faltan por columna,\ny si conviene eliinar la columna entera o eliminar el registro faltante.\n'

In [2]:
import pandas as pd
import numpy as np

In [5]:
url = 'Automobile price data _Raw_.csv'
data = pd.read_csv(url)
data.head(5)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [6]:
##Vemos que tipo de datos tiene cada columna
data.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

In [13]:
## vemos en que columnas faltan datos los datos faltantes que estamos buscando son '?' pero pueden ser de varias formas
(data.astype(np.object)=='?').any()

symboling            False
normalized-losses     True
make                 False
fuel-type            False
aspiration           False
num-of-doors          True
body-style           False
drive-wheels         False
engine-location      False
wheel-base           False
length               False
width                False
height               False
curb-weight          False
engine-type          False
num-of-cylinders     False
engine-size          False
fuel-system          False
bore                  True
stroke                True
compression-ratio    False
horsepower            True
peak-rpm              True
city-mpg             False
highway-mpg          False
price                 True
dtype: bool

In [24]:
## de las coumnas a las que les faltan algunos datos contamos cuantos son para saber si vamos a eliminar la columna entera
## o solo algunos registros.

columnas = ['normalized-losses','num-of-doors','bore','stroke','horsepower','peak-rpm','price']

for col in columnas:
    if data[col].dtypes == 'object':
        count = 0
        total = [count + 1 for x in data[col] if x =='?']
        print('para la columna: ' + col + ' - '+str(sum(total)))

para la columna: normalized-losses - 41
para la columna: num-of-doors - 2
para la columna: bore - 4
para la columna: stroke - 4
para la columna: horsepower - 2
para la columna: peak-rpm - 2
para la columna: price - 4

In [25]:
data.shape

(205, 26)

In [27]:
## como faltan 41 valores para normalized-losses de un total de 205, no seria conveniente modificarlos porque
## podriamos introducir ruido, lo que habria que hacer es eliminar la columna, para los otros casos eliminamos el registro.

data.drop('normalized-losses',axis=1, inplace= True)

In [28]:
## para eliminar los otros valores los convertimos en nan y los eliminamos.

col = ['num-of-doors','bore','stroke','horsepower','peak-rpm','price']

for c in col:
    data.loc[data[c]=='?',col] = np.nan
    data.dropna(axis = 0, inplace=True)

data.shape ##ahora el shape quedo en 193 registros y 25 columnas.

(193, 25)