In [1]:
"""
En este caso eliminamos los valores duplicados por columna.
"""

'\nEn este caso eliminamos los valores duplicados por columna.\n'

In [2]:
import numpy as np
import pandas as pd

In [26]:
url_c = 'German_credit.csv'

columnas_c = ['customer_id',
                  'checking_account_status', 'loan_duration_mo', 'credit_history', 
                  'purpose', 'loan_amount', 'savings_account_balance', 
                  'time_employed_yrs', 'payment_pcnt_income','gender_status', 
                  'other_signators', 'time_in_residence', 'property', 'age_yrs',
                  'other_credit_outstanding', 'home_ownership', 'number_loans', 
                  'job_category', 'dependents', 'telephone', 'foreign_worker', 
                  'bad_credit']

data_c = pd.read_csv(url_c, header= None, names = columnas_c)

data_c.head(5)

,customer_id,checking_account_status,loan_duration_mo,credit_history,purpose,loan_amount,savings_account_balance,time_employed_yrs,payment_pcnt_income,gender_status,...,property,age_yrs,other_credit_outstanding,home_ownership,number_loans,job_category,dependents,telephone,foreign_worker,bad_credit
0,1122334,A11,6,A34,A43,1169,A65,A75,4,A93,...,A121,67,A143,A152,2,A173,1,A192,A201,1
1,6156361,A12,48,A32,A43,5951,A61,A73,2,A92,...,A121,22,A143,A152,1,A173,1,A191,A201,2
2,2051359,A14,12,A34,A46,2096,A61,A74,2,A93,...,A121,49,A143,A152,1,A172,2,A191,A201,1
3,8740590,A11,42,A32,A42,7882,A61,A74,2,A93,...,A122,45,A143,A153,1,A173,2,A191,A201,1
4,3924540,A11,24,A33,A40,4870,A61,A73,3,A93,...,A124,53,A143,A153,2,A173,2,A191,A201,2

In [27]:
## buscamos si hay registros duplicados por columna.
data_c.shape

(1012, 22)

In [28]:
columnas = data_c.columns
for col in columnas:
    valor = data_c[col].unique().shape
    print(col + ' ' + str(valor))

customer_id (1000,)
checking_account_status (4,)
loan_duration_mo (33,)
credit_history (5,)
purpose (10,)
loan_amount (921,)
savings_account_balance (5,)
time_employed_yrs (5,)
payment_pcnt_income (4,)
gender_status (4,)
other_signators (3,)
time_in_residence (4,)
property (4,)
age_yrs (53,)
other_credit_outstanding (3,)
home_ownership (3,)
number_loans (4,)
job_category (4,)
dependents (2,)
telephone (2,)
foreign_worker (2,)
bad_credit (2,)

In [29]:
### la columna customer_id deberia ser unica pero parece que no, cuantos customer_id hay duplicados y cuales son?
valores = data_c['property'].unique()
for val in valores:
    total = 0
    total = [total + 1 for i in data_c['property'] if i == val]
    print(val + ' '+ str(sum(total)))

A121 286
A122 234
A124 157
A123 335

In [30]:
data_c['property'].value_counts()

A123    335
A121    286
A122    234
A124    157
Name: property, dtype: int64

In [31]:
## eliminamos os valores dulicados de la variable customer_id

data_c.drop_duplicates(subset='customer_id', keep='first',inplace = True)
data_c.shape

(1000, 22)